.menu-goed-container {
  gap: var(--dl-space-space-sixunits);
  flex: 0 0 auto;
  width: 100%;
  height: var(--dl-size-size-medium);
  display: flex;
  position: relative;
  align-items: center;
  justify-content: flex-end;
  background-color: #FFB319;
}
.menu-goed-text {
  top: 31px;
  left: 26px;
  position: absolute;
  align-self: center;
}
.menu-goed-container1 {
  height: 100%;
  align-items: center;
  justify-content: center;
}
.menu-goed-text1 {
  font-size: 24px;
}
.menu-goed-container2 {
  height: 100%;
  align-items: center;
  justify-content: center;
}
.menu-goed-text2 {
  font-size: 24px;
}
.menu-goed-container3 {
  flex: 0 0 auto;
  width: var(--dl-size-size-large);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FFE194;
}
.menu-goed-text3 {
  font-size: 24px;
}
.menu-goed-container4 {
  flex: 0 0 auto;
  width: var(--dl-size-size-large);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FFE194;
}
.menu-goed-text4 {
  font-size: 24px;
}
@media(max-width: 991px) {
  .menu-goed-container {
    gap: 0;
    flex-direction: row;
    justify-content: space-between;
  }
}
@media(max-width: 767px) {
  .menu-goed-container3 {
    width: 70px;
  }
  .menu-goed-container4 {
    width: 70px;
  }
}

.cancel-and-delete-container {
  width: 284px;
  height: 106px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.cancel-and-delete-button {
  width: 100%;
  height: 100%;
  font-size: 32px;
  font-family: Lato;
  border-width: 0px;
  background-color: #8e0903;
}


.save-and-upload-container {
  width: 284px;
  height: 106px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.save-and-upload-button {
  width: 100%;
  height: 100%;
  font-size: 32px;
  font-family: Lato;
  border-width: 0px;
  background-color: #42a02a;
}
.save-and-upload-root-class-name {
  margin-left: var(--dl-space-space-oneandhalfunits);
}

.kamer-upload-pagina-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.kamer-upload-pagina-container01 {
  width: 1193px;
  height: 1962px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.kamer-upload-pagina-container02 {
  width: 1212px;
  height: 627px;
  display: flex;
  position: relative;
  align-items: flex-start;
  justify-content: flex-start;
}
.kamer-upload-pagina-image {
  width: 100%;
  height: 93%;
  margin-top: var(--dl-space-space-twounits);
  object-fit: cover;
}
.kamer-upload-pagina-text {
  top: 231px;
  left: 188px;
  position: absolute;
  font-size: 48px;
  font-family: Lato;
}
.kamer-upload-pagina-text01 {
  left: 45px;
  bottom: -103px;
  position: absolute;
  font-size: 24px;
  font-family: Lato;
}
.kamer-upload-pagina-text02 {
  left: 359px;
  bottom: -106px;
  position: absolute;
  font-size: 24px;
  font-family: Lato;
}
.kamer-upload-pagina-text03 {
  left: 672px;
  bottom: -107px;
  position: absolute;
  font-size: 24px;
  font-family: Lato;
}
.kamer-upload-pagina-text04 {
  top: 49px;
  right: 58px;
  position: absolute;
  font-size: 32px;
  font-family: Lato;
}
.kamer-upload-pagina-text05 {
  top: 364px;
  right: 86px;
  position: absolute;
  font-size: 32px;
  font-family: Lato;
}
.kamer-upload-pagina-text06 {
  right: 84px;
  bottom: -82px;
  position: absolute;
  font-size: 32px;
  font-family: Lato;
}
.kamer-upload-pagina-container03 {
  flex: 0 0 auto;
  width: 317px;
  height: 925px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.kamer-upload-pagina-container04 {
  flex: 0 0 auto;
  width: 275px;
  height: 275px;
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: center;
  margin-left: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  justify-content: center;
  background-color: #FFE194;
}
.kamer-upload-pagina-textinput {
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  border-width: 0px;
  margin-bottom: var(--dl-space-space-unit);
  background-color: #EAEAEA;
}
.kamer-upload-pagina-textinput1 {
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  border-width: 0px;
  margin-bottom: var(--dl-space-space-unit);
  background-color: #EAEAEA;
}
.kamer-upload-pagina-textinput2 {
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  border-width: 0px;
  margin-bottom: var(--dl-space-space-unit);
  background-color: #EAEAEA;
}
.kamer-upload-pagina-container05 {
  flex: 0 0 auto;
  width: 275px;
  height: 275px;
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: center;
  margin-left: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  justify-content: center;
  background-color: #FFE194;
}
.kamer-upload-pagina-textinput3 {
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  border-width: 0px;
  background-color: #EAEAEA;
}
.kamer-upload-pagina-container06 {
  flex: 0 0 auto;
  width: 275px;
  height: 275px;
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: center;
  margin-left: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  justify-content: center;
  background-color: #FFE194;
}
.kamer-upload-pagina-textinput4 {
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  border-width: 0px;
  background-color: #EAEAEA;
}
.kamer-upload-pagina-container07 {
  width: 898px;
  height: 294px;
  display: flex;
  align-items: flex-start;
}
.kamer-upload-pagina-image1 {
  width: 31%;
  align-self: flex-end;
  margin-top: var(--dl-space-space-oneandhalfunits);
  object-fit: cover;
}
.kamer-upload-pagina-image2 {
  width: 31%;
  align-self: flex-end;
  margin-top: var(--dl-space-space-oneandhalfunits);
  object-fit: cover;
  margin-left: var(--dl-space-space-twounits);
}
.kamer-upload-pagina-image3 {
  width: 31%;
  align-self: flex-end;
  margin-top: var(--dl-space-space-oneandhalfunits);
  object-fit: cover;
  margin-left: var(--dl-space-space-twounits);
}
.kamer-upload-pagina-container08 {
  width: 100%;
  height: 118px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.kamer-upload-pagina-text07 {
  font-size: 37px;
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  font-family: Lato;
  font-weight: 700;
}
.kamer-upload-pagina-text08 {
  font-size: 32px;
  font-style: normal;
  margin-top: var(--dl-space-space-halfunit);
  font-family: Lato;
  font-weight: 300;
}
.kamer-upload-pagina-container09 {
  width: 1191px;
  height: 347px;
  display: flex;
  align-items: center;
  padding-right: 3px;
  justify-content: flex-start;
}
.kamer-upload-pagina-container10 {
  flex: 0 0 auto;
  width: 58%;
  height: 95%;
  display: flex;
  position: relative;
  align-items: flex-start;
  background-color: #e8f6ef;
}
.kamer-upload-pagina-text09 {
  top: 9px;
  left: 251px;
  position: absolute;
  font-size: 40px;
  font-family: Lato;
  font-weight: bold;
}
.kamer-upload-pagina-text10 {
  top: 11px;
  right: -372px;
  position: absolute;
  font-size: 40px;
  font-family: Lato;
  font-weight: bold;
}
.kamer-upload-pagina-textarea {
  width: 633px;
  height: 241px;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  margin-top: var(--dl-space-space-fourunits);
  margin-left: var(--dl-space-space-twounits);
  border-width: 0px;
  background-color: #EAEAEA;
}
.kamer-upload-pagina-container11 {
  flex: 0 0 auto;
  width: 39%;
  height: 95%;
  display: flex;
  align-items: flex-start;
  margin-left: var(--dl-space-space-oneandhalfunits);
  background-color: #e8f6ef;
}
.kamer-upload-pagina-textarea1 {
  width: 422px;
  height: 242px;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  margin-top: var(--dl-space-space-fourunits);
  margin-left: var(--dl-space-space-oneandhalfunits);
  border-width: 0px;
  background-color: #EAEAEA;
}
.kamer-upload-pagina-container12 {
  width: 100%;
  height: 98px;
  display: flex;
  margin-top: var(--dl-space-space-oneandhalfunits);
  align-items: center;
  justify-content: center;
}
.kamer-upload-pagina-container13 {
  flex: 0 0 auto;
  width: 609px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
