<!-- template.html -->
<!DOCTYPE html>
<html>
<head>
    <title>My Django Template</title>
</head>
<body>
    {#show all of the houses in the database#}
    <p>
        {% for x in myresult%}
            {%for y in x%}<br>
                {{y}}  
            {%endfor%}<br>
        {%endfor%}
    </p>
    {#all of the input fields#}
    <form method = "POST" action = "/result">
        <h1> adress</h1>
        <input type="text" name="adress"><br>
        <h2>postalcode</h2>
        <input type="text" name="postcode"><br>
        <h3> Housenumber </h3>
        <input type ="text" name ="housenumber"><br>
        <h4> Surface</h4>
        <input type="text" name ="oppervlak"><br>
        <h5> Price $ </h5>
        <input type="text" name = "price"><br>
        <h6> Description </h6>
        <input type="text" name = "beschrijving"><br>
        <input type="submit" name = "knop">
    </form>
</body>
</html>
