<!-- template.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Gegevens</title>
</head>
<body>
    {# show the data filled in by the user #}
    <h1>Dit zijn je gegevens:</h1>
    <p>{{ adress }}</p>
    <p> {{postcode}} </p>
    <p>{{ oppervlak}}</p>
    <p> {{price}} </p>
    <p>{{ housenumber }}</p>
    <p> {{beschrijving}} </p>
</body>
</html>